* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* shared styles */
label, input {
    display: block;
}

label {
    color: #4F4F4F;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-right: 0;
}

input, datalist {
    padding: 1rem 15rem 1rem 1rem;
    /* width: 30%; */
    border-radius: 12px;
    border: 1px solid #828282;
    margin-right: 0;
}

.input-box {
    margin-top: 1rem;
}

.main-container {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
}

/* Form related styles */
.title {
    margin-bottom: 5rem;
    color: #4E5150;
    font-weight: 600;
    font-size: 2.2rem;
}

.checkout-form-container {
    margin-top: 3rem;
}

.form-two-title {
    margin-top: 5rem;
}

.flex {
    display: flex;
    /* justify-content: start; */
}


.country {
    padding: 1rem 0.6rem;
}

#postal-code {
    padding: 1rem;
}

.postal-code-box {
    margin-left: 2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* justify-content: center; */
}


.checkbox label {
    margin-bottom: 0;
}

/* button related styles */
.btn-primary {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 12px;
    background: #F2994A;
    color: #fff;
    border: none;
}

/* Image container Item related styles */

.hide {
    display: none;
}

.checkout-img-container {
    border-radius: 12px;
    background:#F2F2F2;
    margin-top: 10rem;
    max-width: 390px;
    max-height: 535px;
}

.vintage-bag, .card {
    display: flex;
    padding: 1rem;
}

.vintage-img {
    border-radius: 2rem;
    width: 35%;
}

.price{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.7rem;
}

.discount-price {
    color: #F2994A;
    font-weight: 600;
    font-size: 1.2rem;
}

.regular-price {
    font-size: 0.9rem;
}

.box-content {
    margin-left: 1.5rem;
}

.box-content > h3 {
    /* margin: 2rem; */
    /* padding: 1rem; */
    color: #4E5150;
}

#quantity {
    /* padding: 1rem 2rem; */
    padding: 0.5rem 0.8rem;
    /* position: relative; */
    margin-top: 1rem;
    font-size: 1rem;
}

/* total amount: footer related styles */
.total-amount {
    margin-top: 2rem;
    padding: 2rem;
}

.shipping, .total {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    color: #4E5150;
}

.shipping {
    border-top: 1px solid rgb(175, 175, 175);
    border-bottom: 1px solid rgb(176, 176, 176);
    padding: 1rem 0rem;
}