* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* shared styles */
label, input {
    display: block;
}

label {
    color: #4F4F4F;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-right: 0;
}

input, datalist {
    padding: 1rem 15rem 1rem 1rem;
    /* width: 30%; */
    border-radius: 12px;
    border: 1px solid #828282;
    margin-right: 0;
}

.input-box {
    margin-top: 1rem;
}

.main-container {
    display: flex;
    justify-content: space-around;
    /* align-items: flex-start; */
}

/* Form related styles */
.title {
    margin-bottom: 5rem;
    color: #4E5150;
    font-weight: 600;
    font-size: 2.2rem;
}

.checkout-form-container {
    margin-top: 3rem;
}

.form-two-title {
    margin-top: 5rem;
}

.flex {
    display: flex;
    /* justify-content: start; */
}


.country {
    padding: 1rem 0.6rem;
}

#postal-code {
    padding: 1rem;
}

.postal-code-box {
    margin-left: 2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    /* justify-content: center; */
}


.checkbox label {
    margin-bottom: 0;
}

/* button related styles */
.btn-primary {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    border-radius: 12px;
    background: #F2994A;
    color: #fff;
    border: none;
}

/* Image container Item related styles */

.hide {
    display: none;
}

.checkout-img-container {
    border-radius: 12px;
    background:#F2F2F2;
    margin-top: 10rem;
}